#include "resource.h"

IDI_ICON1 ICON "LogZilla.ico"

LANGUAGE 0x9, 0x1
1 11 "MSG00001.bin"

1 VERSIONINFO
FILEVERSION 6, 31, 1, 0
PRODUCTVERSION 6, 31, 1, 0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "LogZilla Corp."
            VALUE "FileDescription", "Syslog agent service for Windows"
            VALUE "FileVersion", "6.31.1.0"
            VALUE "InternalName", "SyslogAgent.exe"
            VALUE "LegalCopyright", "Copyright (C) 2021 LogZilla Corp. All rights reserved."
            VALUE "OriginalFilename", "SyslogAgent.exe"
            VALUE "ProductName", "Syslog Agent for Windows"
            VALUE "ProductVersion", "6.31.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END